<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= GameConfig.get('game_name') || 'The Coding Game' %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
